
.container{
    height: 100vh;
    min-width: 100vh;
    width: 100%;
    background: linear-gradient(to right, #9900ff, #cc80ff);
    

}

.main_container h1{
    color: rgb(255, 255, 255);
    font-size: 3rem;
}



.main_container {
    background: linear-gradient(to right, #9900ff, #cc80ff);
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  

